<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Place</title>
</head>
<body>
    
    <form method="POST" action="/add">
        <label for="name">name</label>
        <input id="name" name="name" type="text" />
        <br/>
        <label for="privacyLevel">privacyLevel</label>
        <input id="privacyLevel" name="privacyLevel" type="text" />
        <br/>
        <label for="cozyLevel">cozyLevel</label>
        <input id="cozyLevel" name="cozyLevel" type="text" />
        <br/>
        <label for="volumeRating">volumeRating</label>
        <input id="volumeRating" name="volumeRating" type="text" />
        <br/>        
        <button>Add</button>
    </form>

</body>
</html>