<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nap Place Detail Page</title>
</head>

<body>
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td><%= place.name %></td>
      </tr>
      <tr>
        <td>Privacy Level</td>
        <td><%= place.privacyLevel %></td>
      </tr>
      <tr>
        <td>Cozy Level</td>
        <td><%= place.cozyLevel %></td>
      </tr>
      <tr>
        <td>Volume Rating</td>
        <td><%= place.volumeRating %></td>
      </tr>
    </tbody>
  </table>
</body>

</html>