<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Objective Detail Page</title>
</head>
<body>
	
	<div class="objective-detail">
		<p>ID: <%= id %></p>
		<p>Question: <%= question %></p>
		<p>Type: <%= type %></p>
		<p>Answer: <%= answer %></p>
	</div>

</body>
</html>