<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>

<h1>Contact Us</h1>

<form method="POST" action="/contact">

    <label for="email">Email</label>
    <input id="email" type="text" name="email"/>
    <input type="hidden" name="fm" value="fuzzymonkey" />
    <br/>
    <textarea name="message"></textarea>
    <button>Send</button>
</form>

</body>
</html>