<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Home Page</title>
</head>
<body>
    <h2>HOME</h2>
    <p>Monkey Fuzz Forever!</p>
    <a href="/contact">Contact Us</a>
</body>
</html>
